#btnBox{
    width: 70%;
    margin: 0 auto;
}

.btnBack{
    border: 1px solid black;
    padding: 10px;
    background-color: beige;
    color: white;
    display: inline-block;
}

.centeredHeader{
    text-align: center;
}

.container{
    width: 900px;
    margin: 0 auto;
}

h1{
  font-family: sans-serif;
}

.onBtn{
    width: 40px;
    margin: 0 auto;
    background-color: limegreen;
}

.offBtn{
    width: 40px;
    margin: 0 auto;
    background-color: red;
}
